html, body
{
    width: 100%;
    height: 100%;
}

.centered-table
{
    display: table;
    width: 100%;
    height: 100%;
}

.centered
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

body
{
    padding-top: 70px;
}

.welcome
{
    text-align: center;
}

.welcome-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-with-margin
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tweetcik-input
{
    resize: vertical;
}

.tweetcik-counter
{
    float: left;
}

.tweetcik-button
{
    float: right;
}

.tweetcik-user
{
    font-weight: bold;
    float: left;
    color: #3c763d;
}

.tweetcik-date
{
    font-style: italic;
    float: right;
    color: #AAAAAA;
}

.tweetcik-row
{
    padding-left: 10px;
    padding-right: 10px;
}

.tweetcik-content
{
    padding-top: 5px;
}

.tweetcik-remove
{
    display: inline;
    float: right;
}

.tweetcik-remove-icon
{
    color: #3c763d;
}

.dialog-title
{
    font-weight: bold;
}

.error
{
    text-align: center;
}