@(id: Long = -1, username: String, content: String, date: String)
<li class="list-group-item">
    <div class="row tweetcik-row">
        <span class="tweetcik-user">@@@username</span>
        @if(id != -1) {
            <form action='@routes.Timeline.deleteTweetcik(id)' method="post" class="tweetcik-delete">
                <a class="glyphicon glyphicon-remove tweetcik-delete-icon" onclick="$(this).closest('form').submit();"></a>
            </form>
        }
    </div>
    <div class="row tweetcik-row tweetcik-content">
        @content<span class="tweetcik-date">@date</span>
    </div>
</li>