@(id: Long = -1, username: String, content: String, date: String)
<li class="list-group-item">
    <div class="row tweetcik-row">
        <span class="tweetcik-user">@@@username</span>
        <span class="tweetcik-date">@date&nbsp;
        @if(id != -1) {
            <form action='@routes.Timeline.removeTweetcik(id)' method="post" style="display: inline;">
                <a class="glyphicon glyphicon-remove tweetcik-remove" onclick="$(this).closest('form').submit();"></a>
            </form>
        }</span>
    </div>
    <div class="row tweetcik-row tweetcik-content">
        @content
    </div>
</li>