@(error: String = "", userid: String = "", username: String = "", accesstoken: String = "", expire: String = "")
@import navbar._
@scripts = {
<!-- SHA512 Generator JS -->
<script src='@routes.Assets.at("js/sha512.js")'></script>
<!-- Form validator JS -->
<script src='@routes.Assets.at("js/forms.js")'></script>
}
@base("Twittercık - Register", scripts) {
    @navbar {
    <ul class="nav navbar-nav navbar-right">
        <li>@navbarloginbutton()</li>
    </ul>
    }
    @verticalcenteredcontent {
    <!-- Container -->
    <div class="container col-md-4 col-md-offset-4">
        <!-- Register panel -->
        <div class="row">
            <div class="panel panel-success">
                <!-- Title -->
                <div class="panel-heading dialog-title">
                    Register to Twittercık
                </div>
                <div class="panel-body">
                    <form action='@routes.Register.submitRegisterForm' method="post">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row row-with-margin">
                                <div class="input-group">
                                    <span class="input-group-addon">@@</span>
                                    <input name="username" type="text" class="form-control" placeholder="Username" value="@username">
                                </div>
                            </div>
                            <div class="row row-with-margin">
                                <input name="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <input name="userid" type="hidden" value="@userid">
                            <input name="accesstoken" type="hidden" value="@accesstoken">
                            <input name="expire" type="hidden" value="@expire">
                            <div class="row row-with-margin">
                                <button class="btn btn-success" type="submit" onclick="return validateForm(this.form, this.form.username, this.form.password);" style="float: right;">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if(error != "") {
            <!-- Alert -->
            <div class="row">
                <div class="alert alert-danger error">
                    @if(error == "username_password_invalid") {
                    <p>Username should be 3-24 characters long.</p>
                    <p>Password should be at least 6 characters long.</p>
                    }
                    @if(error == "username_exists") {
                    <p>The username you selected is already registered. Pick another username.</p>
                    }
                    @if(error == "facebook_error") {
                    <p>There was an error with Facebook login. You can continue registration manually.</p>
                    }
                </div>
            </div>
        }
        @if(userid != "" && username != "" && accesstoken != "" && expire != "") {
        <!-- Info -->
        <div class="row">
            <div class="alert alert-info error">
                <p>You are registering with your Facebook account.</p>
                <p>Change your username (taken from Facebook) if you want, and enter a password for your Twittercık account.</p>
            </div>
        </div>
        }
    </div>
    }
}