@import navbar._
@base("Twittercık - Welcome") {
    @navbar {
    <ul class="nav navbar-nav navbar-right">
        <li>@navbarloginbutton()</li>
        <li>@navbarfbloginbutton()</li>
        <li>@navbarregisterbutton()</li>
    </ul>
    }
    @verticalcenteredcontent {
    <!-- Container -->
    <div class="container col-md-8 col-md-offset-2">
        <!-- Welcome panel -->
        <div class="row">
            <div class="jumbotron welcome">
                <!-- Main logo -->
                <img src='@routes.Assets.at("img/logo.png")' class="img-responsive welcome-logo" alt="Main Logo" >
                <!-- Title -->
                <h2>Welcome!</h2>
                <p>Twittercık is a place where you can freely express your opinions. The only thing that will be limiting you the 140 characters limit for each message that is called a tweetcik.</p>
                <p>Happy tweetciking! :)</p>
            </div>
        </div>
    </div>
    }
}