@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS integration -->
        <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap.min.css")'>
        <!-- Main CSS -->
        <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>
        <!-- JQuery integration -->
        <script src='@routes.Assets.at("js/jquery-1.9.0.min.js")' type="text/javascript"></script>
        <!-- Bootstrap JS integration -->
        <script src='@routes.Assets.at("js/bootstrap.min.js")' type="text/javascript"></script>
    </head>
    <body>
        <!-- Main logo -->
        <a href="@routes.Application.index"><img src='@routes.Assets.at("img/logo.png")' class="logo img-responsive" alt="logo" ></a>

        <!-- Content of the page -->
        @content
    </body>
</html>