@(username: String, tweetcikList: List[Tweetcik])

@import helper._

@index("Twittercık") {
<!-- Main container-->
<div class="container col-md-6 col-md-offset-3">
    <!-- User information bar -->
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading nav">
                <div class="user-info navbar-text">Welcome <b>@@@username</b>!</div>
                <form action="/logout" method="post">
                <button class="btn btn-success navbar-btn user-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <!-- New tweetcik panel -->
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading dialog-title">
                Post a new tweecik
            </div>
            <div class="panel-body">
                @helper.form(action = routes.Timeline.submit) {
                    <p>
                        <textarea rows="2" id="tweetcik" name="tweetcik" class="form-control input-block-level tweetcik-input" placeholder="Enter your tweetcik here."></textarea>
                    </p>
                    <p>
                    <div id="tweetcik-counter" class="tweetcik-counter">140</div>
                    <button class="btn btn-success tweetcik-button" type="submit">Tweetcik!</button>
                    </p>
                }
            </div>
        </div>
    </div>

    <!-- Timeline -->
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading dialog-title">
                Timeline
            </div>
            <ul class="list-group">
                @if(tweetcikList.length == 0) {
                <li class="list-group-item">
                    <p style="text-align: center">There is no tweetcik posted yet. Why not post one now?</p>
                </li>
                }
                @for(t <- tweetcikList.reverse) {
                    @tweetcik(t.username, t.content, t.dateString)
                }
            </ul>
        </div>
    </div>
</div>
}