@index("Twittercık - Welcome") {
<!-- Container -->
<div class="container col-md-4 col-md-offset-4">
    <!-- Login panel -->
    <div class="row">
        <div class="panel panel-success">
            <!-- Title -->
            <div class="panel-heading dialog-title">
                Welcome to Twittercık!
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    <a class="btn btn-success" href="/login">Login</a>&nbsp;<a class="btn btn-success" href="/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
}